@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* PHONE */
html{
    width: 100%;
    min-height: 100%;
    display:flex;
    justify-content:stretch;}
body{
    width: 100%;
    margin:0;
    background: linear-gradient(#d70000,#800707);
    display:flex;
    flex-direction:column;}
    /* header */
#header{
    display:inline-flex;
    margin:15px 15px 35px 15px;}
#bigcircle{
    display :flex;
    justify-content:center;
    align-content: center;
    background: linear-gradient(#275ca1,#2e69b6);
    border-radius:50%;
    width:160px;
    height:160px;
    border:20px solid #dbdbdb;
    margin-right:20px;}
#pokeID{
    font-family: 'Press Start 2P', cursive;
    font-size :50px;
    color :#dbdbdb;
    margin :auto;}
#points{
    display:inline-flex;}
.dots{
    margin:20px;
    border-radius:50%;
    width:80px;
    height:80px;}
#red{
    background: linear-gradient(#610909,#890a0a);}
#grey{
    background: linear-gradient(#8d8989,#ced1d6);}
#green{
    background: linear-gradient(#059736,#05af3f);}
#header h1{
    font-family: 'Roboto', sans-serif;
    font-size :80px;
    color:#F0F325;
    margin:0;}   
    /* main */
#screen{
    background: linear-gradient(#4a4949,#2e2d2d);
    width:80%;
    height:650px;
    border:20px solid #cfcfcf;
    margin:auto;}
#screen img{
    width: 35em;
    display: block;
    margin : auto;}
#main{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 40px;}
#bluesquare{
    display: inline-flex;
    justify-content:space-around;
    background: linear-gradient(#275ca1,#2e69b6);
    border:5px solid #275ca1;
    width:77%;
    height:200px;
    margin-bottom:40px;
    font-family: 'Press Start 2P', cursive;
    color:#dbdbdb;
    text-align:center;}
#NamePlace{
    font-size: 40px;
    font-weight:bold;
    text-transform:uppercase;
    margin-top:auto;
    margin-bottom: auto;}
#Types{
    margin-top:auto;
    margin-bottom: auto;
    font-size: 30px;}
    /* bottom */
#bottom{
    display:inline-flex;
    justify-content:space-around;
    width:200%;}
#greysquare{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background:linear-gradient(#4a4949,#2e2d2d);
    border:5px solid #cfcfcf;
    width:50%;
    height:400px;
    font-family: 'Press Start 2P', cursive;
    color:#dbdbdb;
    text-align:center;
    font-size :30px;}
#greysquare h2 {
    margin:15px;
    font-size :30px}
#bottom img:hover{
    cursor:pointer;}

/* DESKTOP */
@media only screen and (min-width: 992px){
    body{
        flex-direction: row;}
    #left{
        width :50%;}
    #header {
        margin-bottom: 20px;}
    #bigcircle{
        width:70px;
        height:70px;
        border:10px solid #dbdbdb;
        margin-right:20px;}
    #pokeID{
        font-size :20px;}
    #contenu{
        display:inline-flex;}            
    .dots{
        margin:10px;
        width:40px;
        height:40px;}
    #header h1{
        font-size: 50px;}
    #screen{
        width:80%;
        height:450px;
        border:15px solid #cfcfcf;}
    #screen img{
        width:26em;}
    #main{
        width :50%;}
    #bluesquare{
        height: 100px;}
    #NamePlace{
        font-size: 40px;}
    #Types{
        font-size: 20px;} 
    #greysquare{
        width:70%;
        height:300px;}
    #greysquare{
        font-size :25px;}
    #greysquare h2 {
        font-size :25px}}